.product-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-height: calc(2 * 370px);
    padding: 20px;
    /* overflow-y: auto'k; */
}

.category-filter {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.category-filter label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 24px;
}

.category-filter select {
    padding: 8px;
    font-size: 16px;
}

.product-card {
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: 350px;
    position: relative;
    background-color: #f0f0f0;
}

img {
    margin: auto auto;
    border-radius: 10px;
    width: 250px;
    object-fit: cover;
    height: 200px;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #4CAF50;
    text-transform: capitalize;
}

.product-description {
    font-size: 14px;
    color: #666;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: right;
    margin-top: auto;
}

.buy-button {
    bottom: 30px;
    width: 50%;
    left: 10px;
    position: absolute;
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #45a049;
}